* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
  width: 1083px;
}

/* navbar */
.navbar {
  height: 60px;
  line-height: 60px;
}
.navbar img {
  padding-left: 30px;
  vertical-align: middle;
}
.menu {
  line-height: 60px;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  float: left;
  margin-right: 30px;
}

.menu li a {
  color: black;
  text-decoration: none;
}

/* hero header */
h2 {
  margin: 60px auto;
  font-size: 24px;
  color: #545454;
  text-align: center;
  font-weight: bolder;
}
/* products */

#products-name {
  display: block;
  margin-top: 20px;
  margin-bottom: 4px;
}

.products {
  width: 735px;
  margin: 0 auto;
}

.product {
  text-align: center;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
}

.product a {
  text-decoration: none;
  color: #545454;
}

.clear {
  clear: left;
}
/* footer */
.footer {
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
}

.footer img {
  margin-right: 10px;
  margin-left: 10px;
}
